<?php
return [
    'db_type'     => 'pgsql', // Change this to pgsql
    'db_host'     => getenv('DB_HOST'),
    'db_port'     => getenv('DB_PORT') ?: 5432,
    'db_database' => getenv('DB_NAME'),
    'db_username' => getenv('DB_USER'),
    'db_password' => getenv('DB_PASSWORD'),
];